<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()">
        <div id="user-data">
          <div class="form-group">
            <label for="head">head</label>
            <input type="text" id="head" class="form-control" [(ngModel)]="travelStory.head" [ngModelOptions]="{standalone: true}" >
          </div>
          <div class="form-group">
            <label for="description">description</label>
            <input type="text" id="description" class="form-control" [(ngModel)]="travelStory.description" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="row">
            <input type="file" accept="image/*" (change)="changeListener($event)">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
