button.delete {

  position: absolute;
  right: 20px;
  top: auto;
  color: #fffbf4;
  font-weight: bold;
  box-shadow: none;
  outline: none;
  background-color: #ee1520;
}
.material-icons {
  outline: none;
}
.mat-raised-button{
  font-weight: bold;
}
.green {
  background-color: #28a745;
  color: white
}
.mat-icon-button{
  position: absolute;
  right: 20px;
  top: auto;
}
.mat-menu-item:hover{
  color: white;
  background-color: #673ab7;
}
.mat-icon:hover{
  color: white;
}
.mat-menu-item{
  outline: none;
  font-weight: bold;
  color: #777b80;
}
