button.delete {
  position: absolute;
  right: 20px;
  top: auto;
  color: #fffbf4;
  font-weight: bold;
  box-shadow: none;
  outline: none;
  background-color: #ee1520;
}
*{
  outline: 0;
}
.mat-raised-button{
  font-weight: bold;
}
