
<div class="container">
  <app-header></app-header>
  <app-intro></app-intro>

  <div class="row">
    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">Info</h5>
        <div class="card-body">
          <p>About me: I like travelling and playing baseball</p>
          <hr>
          <p>Gender: Male</p>
          <hr>
          <p>Active posts: 34</p>
          <hr>
          <p>Birth: 21.02.1999</p>
          <hr>
          <p>Location: Lviv</p>
        </div>
      </div>

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Places</h5>
        <div class="card-body">
          <p>New York</p>
          <p>Boston</p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="col-sm-8 posts">

        <!--<button type="button" class="btn btn-outline-success">Add new post</button>-->

        <div class="container post">

          <app-container-post></app-container-post>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

