<div id="profile">
  <div class="wrap">
    <img id="profile-img" (click)="profileImgClick()"
         src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt=""/>
    <p>Mike Ross</p>
    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
    <div id="status-options">
      <ul>
        <li id="status-online" class="active" (click)="statusOptionChecked()"><span
          class="status-circle"></span>
          <p>Online</p></li>
        <li id="status-away"><span class="status-circle"></span>
          <p>Away</p></li>
        <li id="status-busy"><span class="status-circle"></span>
          <p>Busy</p></li>
        <li id="status-offline"><span class="status-circle"></span>
          <p>Offline</p></li>
      </ul>
    </div>
    <div id="expanded" (click)="expandBtnClick()">
      <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
      <input name="twitter" type="text" value="mikeross"/>
      <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
      <input name="twitter" type="text" value="ross81"/>
      <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
      <input name="twitter" type="text" value="mike.ross"/>
    </div>
  </div>
</div>

<script>


</script>
