
#search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}
@media screen and (max-width: 735px) {
  #search {
    display: none;
  }
}
#search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
#search input {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #32465a;
  color: #f5f5f5;
}
#search input:focus {
  outline: none;
  background: #435f7a;
}
#search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
#search input::-moz-placeholder {
  color: #f5f5f5;
}
#search input:-ms-input-placeholder {
  color: #f5f5f5;
}
#search input:-moz-placeholder {
  color: #f5f5f5;
}
