<section class="intro-section">
  <img *ngIf="user.backgroundPic" class="background-pic" (click)="changeBackgroundImage()" src="{{user.backgroundPic}}">
  <div class="user-details">
    <div class="row">
      <a class="ava bg-light">
        <img (click)="changeProfilePic()" src="{{user.profilePic}}">
        <div class="online-status">
        </div>
      </a>
      <div class="left-details col-md-5 offset-md-2">
        <div class="description">
          <div>
            <h3 class="name" *ngIf="user.firstName">{{user.firstName}} {{user.lastName}}</h3>
          </div>
          <div class="text-under" *ngIf="user.hobbies">{{user.hobbies}}</div>
        </div>
      </div>
      <div class="right-details" *ngIf="!owner">
        <a href="#" class="btn btn-secondary">Follow</a>
        <a href="#" class="btn btn-success">Message</a>
      </div>
    </div>
  </div>
</section>
