<section class="intro-section">
  <div class="intro-content" *ngIf="user">
  <img *ngIf="user.backgroundPic" class="background-pic" (click)="changeBackgroundImage()" src="{{user.backgroundPic}}">
  <div class="user-details">
    <div class="row">
      <a class="ava bg-light">
        <img *ngIf="user.profilePic" (click)="changeProfilePic()" src="{{user.profilePic}}">
      </a>
      <div class="left-details col-md-5 offset-md-2">
        <div class="description">
          <div>
            <h3 class="name" *ngIf="user.firstName">{{user.firstName}} {{user.lastName}}</h3>
          </div>
        </div>
      </div>
      <div class="right-details" *ngIf="!owner">
        <button  mat-raised-button color="primary" >Follow</button>
      </div>
    </div>
  </div>
  </div>
</section>
