<form class="form-inline">
  <div class="form-group">
    <label for="connect">Make Connection:</label>
    <button id="connect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="connect()">Connect
    </button>
    <button id="disconnect" class="btn btn-default" type="submit" [disabled]="disabled" (click)="disconnect()">
      Disconnect
    </button>
  </div>
</form>

<form class="form-inline" style="margin-top: 20px;">
  <div class="form-group">
    <label for="name">User's Name:</label>
    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="messageContent"/>
  </div>
  <button id="send" class="btn btn-default" type="button" (click)="sendMessage()">Send</button>
</form>

<table id="conversation" class="table table-striped" style="margin-top: 20px;">
  <thead>
  <tr>
    <th>Greetings</th>
  </tr>
  </thead>
  <tbody *ngFor="let message of messages">
  <tr>
    <td>{{message}}</td>
  </tr>
  </tbody>
</table>

