<div *ngIf="contentId && loggedUser">
  <button mat-button (click)="this.getComments(this.contentId,this.contentType)"><i
    class="material-icons" matBadge="{{this.commentsNumber}}" matBadgePosition="after"> chat_bubble_outline</i> <span
    translate>ShowAll</span>
  </button>
  <button mat-button (click)="hideComments()"><i class="material-icons">keyboard_arrow_up</i> <span
    translate>Hide</span></button>
  <hr>
  <div id="commentsBlock{{this.contentId}}" *ngIf="comments" >
    <mat-card-content *ngFor="let comment of comments">
      <mat-card-header>
        <img mat-card-avatar src="{{comment.userProfilePic}}">
        <mat-card-title>{{comment.userFirstName}} {{comment.userLastName}}</mat-card-title>
        <mat-card-subtitle>{{comment.createdTime |date:'medium'}}<a mat-button
                                                                    *ngIf="this.loggedUser.id == comment.userId"
                                                                    (click)="delete(comment)">delete</a>
        </mat-card-subtitle>
      </mat-card-header>
      <p class="comment">{{comment.commentMassage}}</p>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <mat-form-field class="full-width">
  <textarea matInput placeholder="{{'LeaveComment' | translate}}"
            #commentMassage></textarea>
      <!--<emoji-input></emoji-input>-->
    </mat-form-field>
    <button mat-raised-button color="primary" mat-button
            (click)="add(commentMassage.value,this.contentId, this.contentType)" translate
            (click)="commentMassage.value=''"><i class="material-icons">
    </i><span translate>Add</span>
    </button>

  </mat-card-actions>
</div>




