.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}


//.header-image {
//  background-image: url('');
//  background-size: cover;
//}
.comment {

padding: 7px;
  background: #d5dee3;
  border-radius: 20px;
}

.article-body p {
  word-break: break-all;
}
.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}
.mat-raised-button{
  font-weight: bold;
  outline: 0;
}

