<button class="btn btn-secondary" type="button">Add new story!</button>
<div ngIf="travelStorys.size">
  <mat-card class="example-card" *ngFor="let travelStory of travelStorys">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{travelStory.media.url}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <app-likes></app-likes>
    <app-comments></app-comments>
  </mat-card>
</div>
