<button class="btn btn-secondary" type="button">Add new story!</button>
<div *ngIf="user">
  <div *ngIf="travelStory">
    <mat-card class="card">
      <!--<mat-card-header>-->
        <!--&lt;!&ndash;<div  class="header-image"></div>&ndash;&gt;-->
        <!--<mat-card-title>{{travelStory.description}}</mat-card-title>-->
        <!--<mat-card-subtitle>{{user.firstName}} {{user.lastName}}</mat-card-subtitle>-->
      <!--</mat-card-header>-->
      <!--<img mat-card-image src="{{travelStory.medias[0].url}}" alt="Photo of a Shiba Inu">-->
      <!--<mat-card-content>-->
        <!--<p>{{travelStory.description}}-->
        <!--</p>-->
      <!--</mat-card-content>-->

      <!--<app-comments [(ngModel)]="user" [(ngModel)]="travelStory"></app-comments>-->
</mat-card>
</div>
</div>
