<mat-card *ngIf="followers">
  <h5 class="card-header pointer" (click)="openDialogFollowers()">
<span translate >Followers </span>
    <i class="material-icons">
      face
    </i>
    {{followersNumber}}</h5>
  <mat-card-content>
    <span *ngFor="let follower of followers">
      <a href="user/{{follower.id}}"><img mat-card-avatar src="{{follower.profilePic}}" style="margin: 5px;"></a>
    </span>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="following">
  <h5 class="card-header pointer" (click)="openDialogFollowing()">
    <span translate >Following </span>
    <i class="material-icons">
      supervised_user_circle
    </i>
    {{followingNumber}}</h5>
  <mat-card-content>
    <span *ngFor="let follow of following">
      <a href="user/{{follow.id}}"><img mat-card-avatar src="{{follow.profilePic}}" style="margin: 5px;"></a>
    </span>
  </mat-card-content>
</mat-card>

