app-search {
  margin-left: 6em;
}

.lang-switcher {
  float: left;
  display: flex;
}

.uk {
  border-right: 1px solid #a6a5a5;
}

.lang-switcher-i {
  padding: 0 5px;
}

.selected {
  color: #cccccc;
  pointer-events: none;
}

.lang-switcher-i, .nav-link {
  cursor: pointer;
}

.selected2 {
  color: #cc6e39;
  //pointer-events: none;s
}


.navbar-nav {
  margin:0;
}
.navbar-nav>li {
  float:none;
  display:inline-block;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}
