button {
  outline: 0;
}
app-search {
  margin-left: 6em;
}

.lang-switcher {
  float: left;
  display: flex;
}

.uk {
  border-right: 1px solid #a6a5a5;
}

.lang-switcher-i {
  padding: 0 5px;
}


.lang-switcher-i, .nav-link {
  cursor: pointer;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.hidden{
  display:none;
}

.sidenav .mat-toolbar {
  font-family: cursive;
  background: inherit;
  padding-left: 75px;
}

.mat-toolbar.mat-primary {
  font-weight: bold;
  font-family: cursive;
  position: sticky;
  top: 0;
  z-index: 2;
}
.spacer{
  flex:1 1 auto;
}
.mat-list-item:hover {
  background-color: #673ab7;
  padding-left: 15px;
  color: white;
}
.mat-list-item{
  font-weight: bold;
  color: #777b80;
}
.mat-menu-item{
  font-weight: bold;
  color: #777b80;
}
.mat-menu-item:hover{
  color: white;
  background-color: #673ab7;
}
.mat-icon:hover{
  color: white;
}

