<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav"
                fixedInViewport="false"
                [ngClass]="{hidden: (isHandset$|async )!.matches}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar  style="position: absolute; margin-left: 20px"color="primary"  style="background-color: #673ab7"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  *ngIf="meId" (click)="onClickTab('me')"
         [ngClass]="{'selected':onClickedTab()==='me'}" routerLink="/user/{{meId}}"
         translate><i class="material-icons">
        account_circle
      </i><span translate>Me</span></a>
      <a mat-list-item  (click)="onClickTab('messenger')"
         [ngClass]="{'selected':onClickedTab()==='messenger'}" routerLink="/messenger" translate><i class="material-icons">
        mail
      </i><span translate >Messenger</span></a>

      <a mat-list-item  (click)="onClickTab('messenger')"
         [ngClass]="{'selected':onClickedTab()==='messenger'}" routerLink="/user/{{meId}}/gallery" translate><i class="material-icons">
        photo_library</i><span translate>MyGallery</span></a>

      <a mat-list-item  routerLink="/settings" (click)="onClickTab('settings')"
         [ngClass]="{'selected':onClickedTab()==='settings'}" translate><i class="material-icons">
        brightness_high
      </i><span translate>Settings</span></a>
      <div *ngIf=" isUserAdmin()">
        <a mat-list-item  (click)="onClickTab('table')"
         [ngClass]="{'selected':onClickedTab()==='table'}" routerLink="/admin/table" translate><i class="material-icons">
        assignment_ind
      </i>Users stats</a>
      <a mat-list-item  (click)="onClickTab('table')"
         [ngClass]="{'selected':onClickedTab()==='table'}" routerLink="/admin/dashboard" translate><i class="material-icons">
        dashboard
      </i><span translate>Dashboard</span></a>
      </div>
      <a mat-list-item  routerLink="/login" (click)="logout()" translate><i class="material-icons">
        meeting_room
      </i><span translate>Logout</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TravelStory</span>
      <app-search></app-search>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>language</mat-icon>
          <span><a [ngClass]="{'selected':onChosenLang()==='uk'}" (click)="switchLanguage('en')">EN</a></span>
        </button>
        <button mat-menu-item>
          <mat-icon>language</mat-icon>
          <span><a  [ngClass]="{'selected':onChosenLang()==='en'}" (click)="switchLanguage('uk')">UK</a></span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
