a {
  color: #000000;
  padding: 50px;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
}

h1 {
  color: #000000;
  padding: 50px;
  text-align: center;
  display: block;
  font-size: 30px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.router-wrapper {
  padding: 30px;
}
