<div class="content">
  <app-chat-info [currChat]="currChat"></app-chat-info>

  <div class="messages">
    <ul>
      <li *ngFor="let message of currChat.messages" [ngClass]="{
          'sent':message.author.id === currUser.id,
          'replies':message.author.id !== currUser.id
        }">
        <img src="{{message.author.avatarUrl}}" alt=""/>
        <p>{{message.messageContent}}</p>
      </li>
    </ul>

  </div>
  <div class="message-input">
    <div class="wrap">
      <input type="text" placeholder="Write your message..."/>
      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
      <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
