<div class="card my-4">

  <h5 class="card-header" translate>Gallery</h5>
  <div class="body">
    <div class="row">

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top" src="http://placehold.it/350x350" alt="Sample Title"></a>
        </div>
      </div>
    </div>
  </div>
</div>
