<script src="../../model/Chat.ts"></script>
<div id="profile">
  <div class="wrap">
    <img id="profile-img" (click)="profileImgClick()"
         src="http://emilcarlsson.se/assets/mikeross.png"
         [ngClass]="{
          'online':currentUser.status === statusTypes.ONLINE,
          'away':currentUser.status === statusTypes.AWAY,
          'busy':currentUser.status === statusTypes.BUSY,
          'offline':currentUser.status === statusTypes.OFFLINE
         }"
         class="" alt=""/>
    <p>{{currentUser.firstName + ' ' + currentUser.lastName}}</p>
    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
    <div id="status-options">
      <ul>
        <li id="status-online" class="active" (click)="statusOptionChecked()"><span
          class="status-circle"></span>
          <p>Online</p></li>
        <li id="status-away"><span class="status-circle"></span>
          <p>Away</p></li>
        <li id="status-busy"><span class="status-circle"></span>
          <p>Busy</p></li>
        <li id="status-offline"><span class="status-circle"></span>
          <p>Offline</p></li>
      </ul>
    </div>
    <div id="expanded" (click)="expandBtnClick()">
      <label for="facebook">
        <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
      </label>
      <input name="facebook" id="facebook" type="text"
             [ngModel]="currentUser.socialNetworkNicks.facebook"
             value="{{currentUser.socialNetworkNicks.facebook}}"/>
      <label for="twitter">
        <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
      </label>
      <input name="twitter" id="twitter" type="text"
             [ngModel]="currentUser.socialNetworkNicks.twitter"
             value="{{currentUser.socialNetworkNicks.twitter}}"/>
      <label for="instagram">
        <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
      </label>
      <input name="instagram" id="instagram" type="text"
             [ngModel]="currentUser.socialNetworkNicks.instagram"
             value="{{currentUser.socialNetworkNicks.instagram}}"/>
    </div>
  </div>
</div>
