<script src="../../model/Chat.ts"></script>
<div id="profile" *ngIf="currentUser">

  <div class="wrap">
    <img id="profile-img" (click)="profileImgClick()"
         src="{{currentUser.profilePic}}"
         [ngClass]="{
          'online':currentUser.userState === 'ONLINE',
          'away':currentUser.userState === 'AWAY',
          'busy':currentUser.userState === 'BUSY',
          'offline':currentUser.userState === 'OFFLINE'
         }"
         class="" alt=""/>
    <p class="curr-user-name">{{currentUser.firstName + ' ' + currentUser.lastName}}</p>
    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
    <div id="state-options">
      <ul>
        <li id="state-online" class="active" (click)="statusOptionChecked($event)"><span
          class="status-circle"></span>
          <p>Online</p></li>
        <li id="state-away" (click)="statusOptionChecked($event)"><span class="status-circle"></span>
          <p>Away</p></li>
        <li id="state-busy" (click)="statusOptionChecked($event)"><span class="status-circle"></span>
          <p>Busy</p></li>
        <li id="state-offline" (click)="statusOptionChecked($event)"><span class="status-circle"></span>
          <p>Offline</p></li>
      </ul>
    </div>
    <div id="expanded" *ngIf="currentUser.socialNetworks" (click)="expandBtnClick()">
      <div *ngFor="let socialNetwork of currentUser.socialNetworks">
        <label>
          <i class="fa fa-fw" aria-hidden="true" [ngClass]="{
          'fa-facebook':socialNetwork.socialNetworkName === 'FACEBOOK',
          'fa-instagram':socialNetwork.socialNetworkName === 'INSTAGRAM',
          'fa-twitter':socialNetwork.socialNetworkName === 'TWITTER'
         }"></i>
        </label>
        <input type="text" disabled name="{{socialNetwork.socialNetworkName}}"
               value="{{socialNetwork.nickName}}"/>
      </div>
    </div>
  </div>
</div>
