<div class="card my-4" *ngIf="user">
  <h5 class="card-header" translate>Info</h5>
  <div class="card-body">
    <p *ngIf="user.bio" [translateParams]="user" translate>About</p>
    <hr>
    <p *ngIf="user.gender" translate [translateParams]="user">CurUserGender</p>
    <hr>
    <p *ngIf="user.countOfTravelStories" translate [translateParams]="user">Posts</p>
    <hr>
    <p *ngIf="user.dateOfBirth" [translateParams]="user" translate>Birth</p>
    <hr>
    <p *ngIf="user.location" [translateParams]="user" translate>UserLocation</p>
  </div>
</div>
