.img {
  width: 100%;
  margin-bottom: 18%;
}

.card-picture {
  margin-bottom: 2%;
}

.mat-icon:hover {
  outline: none;
  font-weight: bold;
}
.pointer {cursor: pointer;}



.mat-tab{

  color: white;
  background-color: #673ab7;
}

mat-tab-group{
  height: 100%;
  width: 100%;
}

