<div class="contact-profile" *ngIf="currChat">
  <img *ngIf="currChat.chatType=='PRIVATE_MESSAGES'" src="{{currChat.interlocutor.profilePic}}"/> <!--{{currChat.avatar}}-->
  <div *ngIf="currChat.chatType!='PRIVATE_MESSAGES'">
    <div *ngIf="currChat.avatar; then profile_pic else alternative_avatar"></div>
    <ng-template #profile_pic>
      <img src="{{currChat.avatar}}" class="contacts-wrap__img" alt=""/>
    </ng-template>
    <ng-template #alternative_avatar>
      <div class="contacts-wrap__img contacts-wrap__alternative-img"
           [ngStyle]="{'background-color': currChat.alternativeAvatar.color}">
        {{currChat.alternativeAvatar.letter}}
      </div>
    </ng-template>
  </div>

  <p>{{currChat.chatName}}</p>
  <div class="social-media">
    <a href="https://www.facebook.com/"></a> <i class="fa fa-facebook" aria-hidden="true"></i>
    <a href="https://twitter.com/"></a> <i class="fa fa-twitter" aria-hidden="true"></i>
    <a href="https://www.instagram.com/"></a><i class="fa fa-instagram" aria-hidden="true"></i>
  </div>
</div>
