<div mat-dialog-content style="height: 500px">
  <div class="w-100 d-flex justify-content-center flex-wrap">
    <h1 class="text-center w-100 d-block" mat-dialog-title><b> <i class="material-icons">
      find_replace
    </i>Find your friends</b></h1>
    <!--<p  class="text-center w-100 d-block">Type the mame of your friend...</p>-->
    <input placeholder="Type a name..." #searchBox id="search-box" class="d-block" (keyup)="search(searchBox.value)"/>
  </div>
<img *ngIf="!this.users" style="height: 400px; width: 500px" src="https://previews.123rf.com/images/dimjul/dimjul1703/dimjul170300047/73871407-funny-pet-chipmunk-searching-with-magnifying-glass-onm-white.jpg">
  <div *ngIf="users">
    <div>
      <mat-card *ngFor="let userSearch of users">
        <mat-card-content>
          <a href="/user/{{userSearch.id}}">
            <mat-card-header>
              <img mat-card-avatar src="{{userSearch.profilePic}}">
              <mat-card-title>{{userSearch.firstName}} {{userSearch.lastName}}</mat-card-title>
            </mat-card-header>
          </a>
        </mat-card-content>
      </mat-card>
      <mat-card-subtitle class="text-center w-100 d-block">
        <a mat-button *ngIf="this.finished==false" (click)="getMore()">show more results...</a>
      </mat-card-subtitle>
    </div>


  </div>
</div>



