$lightGray: #ccc;
$white: #fff;
$black: rgba(34, 34, 34, 0.85);
$primaryColor: #e8716d;
$darkGray: gray;
$primaryFont: "PT Sans", sans-serif;
$transparendBg: transparent;
$blackBg: rgba(34, 34, 34, 0.85);
$primaryColorDark: #e14641;
$color1: #f4f4f4;
$color2: #3197EE;

* {
  box-sizing: border-box;
}
body {
  font-family: $primaryFont;
  font-size: 12px;
  line-height: 1em;
}

.user-authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1474524955719-b9f87c50ce47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c83ef66968ed8c6a5c1ac1111ee78c1e&auto=format&fit=crop&w=1200&q=80")
  no-repeat center;
  background-size: cover;

  button {
    background-color: $transparendBg;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  input {
    background-color: $transparendBg;
    padding: 0;
    border: 0;
    outline: 0;
    &::-webkit-input-placeholder {
      font-size: 0.85rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      color: $lightGray;
    }
    &:-ms-input-placeholder {
      font-size: 0.85rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      color: $lightGray;
    }
    &::-ms-input-placeholder {
      font-size: 0.85rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      color: $lightGray;
    }
    &::placeholder {
      font-size: 0.85rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      color: $lightGray;
    }
  }
  button[type="submit"] {
    cursor: pointer;
  }

  .user_options-container {
    position: relative;
    width: 80%;
  }
  .user_options-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $blackBg;
    border-radius: 3px;
  }
  .user_options-registered, .user_options-unregistered {
    width: 50%;
    padding: 75px 45px;
    color: $white;
    font-weight: 300;
  }
  .user_registered-title, .user_unregistered-title {
    margin-bottom: 15px;
    font-size: 1.66rem;
    line-height: 1em;
  }
  .user_registered-text, .user_unregistered-text{
    font-size: 0.85rem;
    line-height: 1.4em;
    letter-spacing: 0.5px;
  }
  .user_registered-login, .user_unregistered-signup {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 30px;
    color: $white;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
      color: $black;
      background-color: $lightGray;
    }
  }
  .user_options-forms {
    position: absolute;
    top: 50%;
    left: 30px;
    width: calc(50% - 30px);
    min-height: 420px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transform: translate3d(100%, -50%, 0);
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    .user_forms-login, .user_forms-signup, .user_forms-forgot {
      position: absolute;
      top: 80px;
      left: 40px;
      width: calc(100% - 80px);
      transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    }

    .user_forms-login {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }

    .user_forms-signup {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(120px, 0, 0);
      .forms_buttons {
        justify-content: flex-end;
      }
    }

    .user_forms-forgot {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(120px, 0, 0);
    }

    .forms_title {
      margin-bottom: 45px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1em;
      text-transform: uppercase;
      color: $primaryColor;
      letter-spacing: 0.1rem;
    }

    .forms_field {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    .forms_field-input {
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 6px 20px 6px 0;
      font-size: 1rem;
      font-weight: 300;
      color: $darkGray;
      letter-spacing: 0.1rem;
      transition: border-color 0.2s ease-in-out;
      &:focus {
        border-color: $darkGray;
      }
    }

    .forms_buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
    }

    .forms_buttons-forgot {
      letter-spacing: 0.1rem;
      color: $lightGray;
      text-decoration: underline;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $lightGray;
      }
    }

    .forms_buttons-action {
      background-color: $primaryColor;
      border-radius: 3px;
      padding: 10px 35px;
      font-size: 1rem;
      font-weight: 300;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: $primaryColorDark;
      }
    }

    .forms_buttons-mb-button {
      display: none;
    }

    &.show-signup {
      display: block;
      transform: translate3d(2%, -50%, 0);
      .user_forms-login {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-150%, 0%, 0);
      }
      .user_forms-signup {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }

    &.show-login {
      display: block;
      transform: translate3d(2%, -50%, 0);
      .user_forms-signup {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(150%, 0%, 0);
      }
      .user_forms-login {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }

    &.show-forgotPass {
      display: block;
      transform: translate3d(100%, -50%, 0);
      .user_forms-forgot {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
      .user_forms-signup {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(150%, 0%, 0);
      }
      .user_forms-login {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-120%, 0, 0);
      }
    }

    &.bounceLeft {
      -webkit-animation: bounceLeft 1s forwards;
      animation: bounceLeft 1s forwards;
      .user_forms-signup {
        -webkit-animation: showSignUp 1s forwards;
        animation: showSignUp 1s forwards;
      }
      .user_forms-login {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(-120px, 0, 0);
        transform: translate3d(-120px, 0, 0);
      }
    }

    &.bounceRight {
      -webkit-animation: bounceRight 1s forwards;
      animation: bounceRight 1s forwards;
    }
  }
}

@media screen and (max-width: 580px) {
  .user-authentication {
    .user_options-text {
      display: none;
    }
    .user_options-forms {
      width: 96%;
      left: 0;
      min-height: 400px !important;
      transform: translate3d(2%, -50%, 0);

      .forms_buttons-mb-button {
        display: block;
        border: 2px solid $primaryColor;
        color: $primaryColor;
        padding: 10px 26px;
        margin: 20px auto;
        font-size: 16px;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition-duration: 300ms;
        &:hover {
          background-color: $primaryColor;
          color: #fff;
        }
      }
      .forms_title {
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .user-authentication {
    .user_options-container {
      width: 90%;
    }
    .user_options-forms {
      min-height: 360px;
      .forms_buttons {
        flex-direction: column;
      }
      .user_forms-login {
        .forms_buttons-action {
          margin-top: 30px;
        }
        top: 40px;
      }
      .user_forms-signup {
        top: 40px;
      }
    }
    .user_options-registered, .user_options-unregistered {
      padding: 50px 45px;
    }
  }
}


// Bounce to the left side Starts
@-webkit-keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
// Bounce to the left side Ends


// Bounce to the Right side Starts
@-webkit-keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
}
@keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
}
// Bounce to the Right side Ends


// Show Sign Up form Starts
@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
// Show Sign Up form Ends
.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    display: inline-block;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
