<section class="user-authentication">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Don't have an account?</h2>
        <p class="user_unregistered-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nibh in leo lacinia blandit et quis lorem.</p>
        <button class="user_unregistered-signup" id="signup-button">Sign up</button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title">Have an account?</h2>
        <p class="user_registered-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nibh in leo lacinia blandit et quis lorem.</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>

    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form class="forms_form" [formGroup]="loginForm" (ngSubmit)="login()">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" id="email" placeholder="Please enter your email" formControlName="email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
              <input type="password" id="password" placeholder="Please enter your password" formControlName="password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <button type="button" class="forms_buttons-forgot" id="forget-button">Forgot password?</button>
            <button type="submit" class="forms_buttons-action">Login</button>
            <a class="forms_buttons-mb-button" id="signup-button-mb">Sign up</a>
          </div>
        </form>
      </div>
      <div class="user_forms-signup">
        <app-registration></app-registration>
      </div>
      <div class="user_forms-forgot">
        <h2 class="forms_title">Forgot Password</h2>
        <form class="forms_form">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" required autofocus />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <button type="submit" class="forms_buttons-action">Send reset link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
