<div id="sidepanel">

  <app-personal-info [currentUser]="currentUser"></app-personal-info>

  <div id="search">
    <label for="chatSearch"><i class="fa fa-search" aria-hidden="true"></i></label>
    <input id="chatSearch" type="text" [(ngModel)]="chatsSearchQuery" placeholder="Search contacts..."/>
  </div>

  <app-chat-list [currentUser]="currentUser" [searchQuery]="chatsSearchQuery"></app-chat-list>

  <div id="bottom-bar">
    <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
    <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
  </div>


</div>


