$lightGray: #ccc;
$white: #fff;
$black: rgba(34, 34, 34, 0.85);
$primaryColor: #e8716d;
$darkGray: gray;
$primaryFont: "PT Sans", sans-serif;
$transparendBg: transparent;
$blackBg: rgba(34, 34, 34, 0.85);
$primaryColorDark: #e14641;
$primaryColorFb: #8b9dc3;
$primaryColorDarkFb: #3b5998;
$primaryColorGoogle: #DB4437;
$primaryColorDarkGoogle: #e14641;



button {
  background-color: $transparendBg;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background-color: $transparendBg;
  padding: 0;
  border: 0;
  outline: 0;
  &::-webkit-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: $lightGray;
  }
  &:-ms-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: $lightGray;
  }
  &::-ms-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: $lightGray;
  }
  &::placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: $lightGray;
  }
}

.forms_buttons-action {
  margin: 30px;
  background-color: $primaryColor;
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-weight: 300;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $primaryColorDark;
  }
}

.forms_buttons-action-social-fb {
  margin: 5px 5px 5px 30px;
  background-color: $primaryColorFb;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 300;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $primaryColorDarkFb;
  }
}

.forms_buttons-action-social-g {
  margin: 5px;
  background-color: $primaryColor;
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 300;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $primaryColorDarkGoogle;
  }
}

.forms_field-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 20px 6px 0;
  font-size: 1rem;
  font-weight: 300;
  color: $darkGray;
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: $darkGray;
  }
}

.forms_title {
  margin-bottom: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: $primaryColor;
  letter-spacing: 0.1rem;
}
