<div fxLayout="row" >
	<mat-toolbar color="primary">
		About our team
	</mat-toolbar>
</div>
<div>
<mat-toolbar >
		Admin`s team
</mat-toolbar>
<div>
  <mat-grid-list cols="8" rowHeight="1:1">
    <mat-grid-tile *ngFor="let user of users">
    <mat-card class="nav-item">
      <img mat-card-avatar src={{user.profilePic}} >
      <mat-card-title class="nav-title"><a href="www.travelstory.com" target="_blank">{{ user.firstName + " " + user.lastName }}</a></mat-card-title>
      <mat-card-content class="nav-desc">{{user.email}}</mat-card-content>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
</div>
