
<div class="container" *ngIf="user">
  <div class="row">
    <div class="col">
      <h2 class="section-title" translate>UserDetails</h2>
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="{{'FirstName' | translate}}" formControlName="firstname" [(ngModel)]="user.firstName" required>
          <mat-error *ngFor="let validation of validation_messages.firstname">
            <mat-error class="error-message"
                       *ngIf="userDetailsForm.get('firstname').hasError(validation.type) && (userDetailsForm.get('firstname').dirty || userDetailsForm.get('firstname').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="{{'LastName' | translate}}" formControlName="lastname" [(ngModel)]="user.lastName" required>
          <mat-error *ngFor="let validation of validation_messages.lastname">
            <mat-error class="error-message"
                       *ngIf="userDetailsForm.get('lastname').hasError(validation.type) && (userDetailsForm.get('lastname').dirty || userDetailsForm.get('lastname').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" placeholder="{{'YourBirthday' | translate}}" formControlName="birthday"
                 [(ngModel)]="user.dateOfBirth" required>
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.birthday">
            <mat-error class="error-message"
                       *ngIf="userDetailsForm.get('birthday').hasError(validation.type) && (userDetailsForm.get('birthday').dirty || userDetailsForm.get('birthday').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="{{'Gender' | translate}}">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.gender">
            <mat-error class="error-message"
                       *ngIf="userDetailsForm.get('gender').hasError(validation.type) && (userDetailsForm.get('gender').dirty || userDetailsForm.get('gender').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput maxlength="256" placeholder="{{'Bio' | translate}}" formControlName="bio" matTextareaAutosize
                    matAutosizeMinRows="2" matAutosizeMaxRows="5" [(ngModel)]="user.bio"></textarea>
          <mat-hint align="start" translate>AboutYourself</mat-hint>
          <mat-hint *ngIf="userDetailsForm" align="end">{{userDetailsForm.get('bio').value.length}} / 256</mat-hint>
          <mat-error *ngFor="let validation of validation_messages.bio">
            <mat-error class="error-message"
                       *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>


        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!userDetailsForm.valid">
          <span translate>Submit</span>
        </button>
      </form>
    </div>


    <div class="col">
      <h2 class="section-title" translate>AccountDetails</h2>

      <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">

        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="{{'Email' | translate}}" formControlName="email" [(ngModel)]="user.email" required>
          <mat-error *ngFor="let validation of account_validation_messages.email">
            <mat-error class="error-message"
                       *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <div formGroupName="matching_passwords">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="{{'NewPassword' | translate}}" formControlName="password" required>
            <mat-error *ngFor="let validation of account_validation_messages.password">
              <mat-error class="error-message"
                         *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="{{'ConfirmPassword' | translate}}" formControlName="confirm_password"
                   [errorStateMatcher]="parentErrorStateMatcher" required>
            <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
              <mat-error class="error-message"
                         *ngIf="(accountDetailsForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matching_passwords').hasError(validation.type)) && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <button class="submit-btn" color="primary" mat-raised-button type="submit">
                <!--[disabled]="!accountDetailsForm.valid"-->

          <span translate>Submit</span>
        </button>
      </form>
    </div>
  </div>
</div>
