<mat-tab-group>
  <mat-tab label="Edit profile">
    <mat-card>
      <mat-card-content>
        <div class="container">
          <form>
            <div class="form-group">
              <label for="first-name">First name</label>
              <input type="text" class="form-control" id="first-name" required>
            </div>

            <div class="form-group">
              <label for="last-name">Last name</label>
              <input type="text" class="form-control" id="last-name" required>
            </div>

            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" required>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" required>
            </div>

            <div class="form-group">
              <mat-form-field>
                <mat-select id="gender" placeholder="Gender">
                  <mat-option *ngFor="let gender of genders" [value]="gender.value">
                    {{gender.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <label for="birth-date">Birth date</label>
                <input matInput [matDatepicker]="picker" id="birth-date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Change password">
    <mat-card>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Account">
    <mat-card>
      <mat-card-content>
        <a routerLink="#">Remove account</a>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>
